body {
    width: 80%;
    margin: auto;
}
#app {
    padding-top: 50px;
}
#formulario {
    padding-top: 50px;
    margin: auto;
    width: 900px;
    background-color: aliceblue;
}
#formulario button {
    display: block;
    justify-content:center;
    margin: 2em auto;
}
#formulario .vista-previa {
    height: 150px;
    max-width: 100%;
}
#formulario img{
    max-height: 100%;
}