/*https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557*/
body {
    background-color: #a8dadc;
}
section, main {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
section#carousel-principal {
    padding: 0;
}
h2, h3{
    text-align: center;
    padding: 20px 0;
}
ol {
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f1faee;
}
header nav img {
    width: 100px;
    height: 100px;
}
header h1 {
    display: none;
}
a {
    text-decoration: none;
}
#formulario {
    padding: 50px;
    margin: auto;
    width: 900px;
    background-color: #f1faee;
}
#formulario button {
    display: block;
    justify-content:center;
    margin: 2em auto;
}
#lista-productos div.img{
    height: 150px;
    max-width: 100%;
}
#formulario .vista-previa{
    height: 100%;
    max-width: 100%;
}
#formulario .vista-previa img{
    max-height: 100%;
    max-width: 100%;
}

#lista-productos .producto > div{
    display: flex;
    align-items: center;
    line-height: 50px;
    padding: 10px;
    
}
#lista-productos div.img{
    height: 50px;
    max-width: 100%;
}
#lista-productos .producto button{
    width: 100%;
    line-height: 35px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
#lista-productos div:nth-child(6) button, #formulario button{
    background-color: #1d3557;
    color:#f1faee;
}
#lista-productos div:nth-child(6) button:hover, #formulario button:hover{
    background-color: #1d3557c5;
}
#lista-productos div:nth-child(7) button{
    background-color: #e63946;
    color: #f1faee;
}
#lista-productos div:nth-child(7) button:hover{
    background-color: #e63947d8;
}
#lista-productos img {
    max-height: 50px;
    max-width: 90px;
}
#lista-productos .encabezado {
    margin: 0 0 15px 0;
    height: 70px;
    line-height: 70px;
    font-size: 1.1em;
    font-weight: 500;
}
#lista-productos  ol  li, #lista-productos .encabezado {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: #f1faee;
}
#lista-productos ol li{
    box-shadow: 5px 5px rgb(0 0 0 / 20%);
}
#lista-productos p {
    text-align: center;
    font-size: 2em;
}
#agregar, #volver {
    width: 10em;
    height: 3em;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    background-color: #1d3557;
    margin: 50px 50px 50px 0;
}
#volver {
    color:#f1faee;
}
#agregar:hover,#volver:hover {
    background-color: #1d3557c9;
    box-shadow: 2px 2px rgb(0 0 0 / 20%);
}
#agregar a {
    display: flex;
    color:#f1faee;
}
#agregar a span {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../imagenes/add.svg);
    background-size: contain;
    display: block;
}
section#carousel-principal {
    width: 100%;
    height: 80%;
}
.card {
    background-color: #f1faee;
    padding-left: 0;
    padding-right: 0;
}
.card-body img, #reseñas .card-img-top{
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
    padding: 20px;
}
#productos div p:first-child{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}
#productos .card .contenedor-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
#servicios .card {
    height: 250px;
}
#reseñas div div,#productos >div >div {
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
}
#reseñas div div.card:hover, #productos div div.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer {
    background-image: url('../imagenes/footer.jpg');
    padding: 50px 0 40px;
}
footer h3, footer h4 {
    color: rgb(230, 230, 230);
}
footer h3 {
    padding: 0 0 20px 0;
    text-align: left;
}
footer p {
    color: #f1faee;
}
footer > div {
    display: block;
    padding: 0 40px;
}
footer ul li {
    color: #a8dadc;
    list-style: none;
}
footer ul li a{
    color: #a8dadc;
    text-decoration: none;
}
footer ul li a img {
    width: 16px;
    height: 16px;
}
footer > p:last-child{
    text-align: center;
    margin: 0;
    padding: 50px 20px 0;
    font-size: 0.75em;
}
footer > div {
    display: grid;
    grid-template-columns: 50% 50%;
} 